
.wrap_search_bar {
  width: 100%;
  padding: 0px 12px;
}

.search_bar_input{
  border: 1px solid rgba(0,0,0, 0.5);

  padding: 12px 16px;
  width: 100%;

  font-size: 20px;

  outline: none;

  border-radius: 4px;

  transition: border 0.4s;
}

.search_bar_input:focus{
  border: 1px solid rgba(0,0,0, 1);
}